:root {
  --primary: #20DB8F;
  --accent: #C7F9CC;
  --primary-dark: #22577A;
  --primary-medium: #38A3A5;
  --secondary-light: #80ED99;
  --secondary-dark: #57CC99;
}

* {
  font-family: 'IBM Plex Sans';}

body {
  background-color: var(--primary-dark);
  color: var(--secondary-light);
  width: 400px;
  padding: 8px;
}

button {
  background-color: var(--accent);
  color: var(--primary-dark);
  transition: all 250ms linear;
  font-weight: 900;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  width: 5rem;
  height: 2rem;
  margin: 0 20px;
}
button:hover {
  background-color: var(--primary-medium);
  color: var(--accent);
}

#website-url {
  width: max-content;
  margin: 0 auto;
  color: var(--accent);
  font-weight: 600;
  font-size: 1.4rem;
}