:root {
  --primary-dark: #22577A;
  --primary-medium: #38A3A5;
  --secondary-light: #80ED99;
  --secondary-dark: #57CC99;
  --accent: #C7F9CC;
}

* {
  font-family: sans-serif
}

body {
  background-color: var(--primary-dark);
  color: var(--secondary-light);
  width: 300px;
  padding: 8px;
}
